<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
<!--    페이지 로드시마다 페이지를 캐싱하지 않는다.(HTTP 1.0)-->
    <meta http-equiv="Pragma" content="no-cache">

    <title>해시태그 검색</title>
</head>
<body>
<div class="container">
    <h2>* 해시태그 검색</h2>

    <div style="float:left;">
        <table>
            <form action="/hashtag_search" method="GET">
                <input type="text" name="keyword" size=30 placeholder="해시태그를 입력하세요">
                <button>검색</button>
            </form>
            <thead>
            <tr>
                <th>해시태그</th>
                <th>연관 해시태그</th>
                <th>인기 게시물 평균 좋아요</th>
                <th>연관 인플루언서</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hashtag : ${hashtags}"><!-- $는 Model 안에서 꺼내 쓰는 것. th:each는 반복문(타임리프 문법임) -->
                <td><span th:text="${hashtag.keyword}"></span></td>
                <td><span th:text="${hashtag.related_hash}"></span></td>
                <td><span th:text="${hashtag.avg_liked}"></span></td>
                <td><span th:text="${hashtag.related_username}"></span></td>
            </tr>
            </tbody>
        </table>

    </div>
<!--    <div>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <th>해시태그</th>-->
<!--            <th>인기 게시물 평균 좋아요</th>-->
<!--            <th>연관 인플루언서</th>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="data : ${relatedDatas}">&lt;!&ndash; $는 Model 안에서 꺼내 쓰는 것. th:each는 반복문(타임리프 문법임) &ndash;&gt;-->
<!--                <td><span th:value="${data}"></span></td>-->
<!--                <td><span th:value="${data}"></span></td>-->
<!--                <td><span th:value="${data}"></span></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
</div> <!-- /container -->
</body>
</html>