<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h1>인플루언서 추천~</h1>
        <p>회원 기능</p>
        <p>
            <a href="/members">회원 목록</a>
            <a href="/login">로그인</a>
        </p>
        <p>주 서비스 기능</p>
        <p>
            <a href="/true_false">진짜/가짜 판별</a>
        </p>
        <p>
            <a href="/hashtag_search">해시태그 검색</a>
        </p>
        <p>
            <a href="/influencer_recommend">인플루언서 추천</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>