<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

<!--    페이지 로드시마다 페이지를 캐싱하지 않는다.(HTTP 1.0)-->
    <meta http-equiv="Pragma" content="no-cache">

    <title>진짜/가짜 판별</title>
</head>
<body>
<div class="container">
    <div>

        <table>
            <h2>* Fake vs Real</h2>
            <form action="/true_false" method="GET">
                <input type="text" name="username" size=30 placeholder="인플루언서 계정을 입력하세요">
                <button>검색</button>
<!--                <input type="submit" value="검색">-->
            </form>
            <thead>
            <tr>
                <th>계정명</th>
                <th>프로필사진</th>
                <th>팔로워</th>
                <th>팔로잉</th>
                <th>진짜 팔로워</th>
<!--                <th>진짜 팔로워 비율</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="inf_profile : ${inf_profile}"><!-- $는 Model 안에서 꺼내 쓰는 것. th:each는 반복문(타임리프 문법임) -->
                <td><span th:text="${inf_profile.inf_username}"></span></td>
                <td>
                    <p><img th:src="|pics/${inf_profile.inf_username}.jpg|" style="width:150px; height:150px; object-filter:cover;
                                                                                    border: 3px solid gold;
                                                                                    border-radius: 7px;
                                                                                    -moz-border-radius: 160px;
                                                                                    -khtml-border-radius: 160px;
                                                                                    -webkit-border-radius: 160px;"></p>
<!--                    <span th:text="${inf_profile.pic_url}"></span>-->
                </td>
                <td><span th:text="${inf_profile.fol_count}"></span></td>
                <td><span th:text="${inf_profile.folwing_count}"></span></td>
                <td><span th:text="${inf_profile.real_fol_count}"></span></td>
<!--                <td><span th:text="${inf_profile.rate_real}"></span></td>-->
            </tr>
            </tbody>
        </table>

    </div>
</div> <!-- /container -->
</body>
</html>
