<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>
<footer  th:fragment="footer">
    <!-- footer -->
    <div class = "w-100" style="padding:20px;"> <!-- style="position : fixed; bottom:0;" -->
<!--        <p style="text-align:center;padding:5px;"><img src = "/assets/images/icon_mic.png" style="width:90px; height:auto;-->
<!--                                                                 image-rendering: -moz-crisp-edges;          /* Firefox */-->
<!--                                                                 image-rendering:   -o-crisp-edges;          /* Opera */-->
<!--                                                                 image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */-->
<!--                                                                 image-rendering: crisp-edges;-->
<!--                                                                 -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */-->
<!--                                                                 ">-->
<!--        </p>-->



        <div style="padding:20px 0px 0px    0px;">
        <p style="text-align:center;"><img src = "/assets/images/icon_mic.png" style="width:90px; height:auto;
                                                                 image-rendering: -moz-crisp-edges;          /* Firefox */
                                                                 image-rendering:   -o-crisp-edges;          /* Opera */
                                                                 image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
                                                                 image-rendering: crisp-edges;
                                                                 -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
                                                                 vertical-align:bottom;
                                                                 "><i class="icofont icofont-copyright" ></i><span style="font-size:medium;">2021 MIC Corporation | Email : us03098@gmail.com</span></p>
        <p style="text-align:center; vertical-align:top; line-height:1em;"><span style="font-size:medium;"><br>All Instagram™ logos and data displayed on this application are property of Instagram</span></p>
<!--        <p style="text-align:center; vertical-align:top;"><span style="font-size:medium;">모든 Instagram™ 로고와 데이터는 Instagram의 재산입니다.</span></p>-->
        <br>
        </div>

        <!-- Row start -->
        <div class="row" >
            <div class="col-xl-3"></div>
            <div class="col-xl-3 col-lg-12 grid-item">
                <div class="card">
                    <div class="card-block horizontal-card-img d-flex">
                        <img class="media-object img-circle" src="assets/images/Lina.jpg" alt="Generic placeholder image">
                        <div class="d-inlineblock  p-l-20">
                            <h6>Lina Park</h6>
                            <a href="mailto:lina.park624@gmail.com">lina.park624@gmail.com</a>
                        </div>
                        <h6 class="txt-warning rotate-txt" style="padding:20px;">Analyst</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12 grid-item">
                <div class="card">
                    <div class="card-block horizontal-card-img d-flex">
                        <img class="media-object img-circle" src="assets/images/JH.jpg" alt="Generic placeholder image">
                        <div class="d-inlineblock  p-l-20">
                            <h6>Jaehun Lee</h6>
                            <a href="mailto:us03098@gmail.com">us03098@gmail.com</a>
                        </div>
                        <h6 class="txt-danger rotate-txt" style="padding:15px;">Developer</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->

    </div>
    <!-- footer -->
</footer>

</body>
</html>