<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>
<footer  th:fragment="footer">
    <!-- footer -->
    <div class = "w-100" style="padding:20px;"> <!-- style="position : fixed; bottom:0;" -->
<!--        <p style="text-align:center;padding:5px;"><img src = "/assets/images/icon_mic.png" style="width:90px; height:auto;-->
<!--                                                                 image-rendering: -moz-crisp-edges;          /* Firefox */-->
<!--                                                                 image-rendering:   -o-crisp-edges;          /* Opera */-->
<!--                                                                 image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */-->
<!--                                                                 image-rendering: crisp-edges;-->
<!--                                                                 -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */-->
<!--                                                                 ">-->
<!--        </p>-->
        <p style="text-align:center;"><img src = "/assets/images/icon_mic.png" style="width:90px; height:auto;
                                                                 image-rendering: -moz-crisp-edges;          /* Firefox */
                                                                 image-rendering:   -o-crisp-edges;          /* Opera */
                                                                 image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
                                                                 image-rendering: crisp-edges;
                                                                 -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
                                                                 vertical-align:bottom;
                                                                 "><i class="icofont icofont-copyright" ></i><span style="font-size:medium;">2021 MIC Corporation | Email : us03098@gmail.com</span></p>
        <p style="text-align:center; vertical-align:top;"><span style="font-size:medium;">All Instagram™ logos and trademarks displayed on this application are property of Instagram</span></p>
        <br>
    </div>
    <!-- footer -->
</footer>

</body>
</html>