<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
   <title>Fake vs Real</title>

   <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   <!-- Meta -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="description" content="codedthemes">
   <meta name="keywords" content="Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
   <meta name="author" content="codedthemes">

   <!-- Favicon icon -->
   <link rel="shortcut icon" href="assets/images/favicon_mic.png" type="image/x-icon">
   <link rel="icon" href="assets/images/favicon_mic.ico" type="image/x-icon">

   <!-- Google font-->
   <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <!-- themify -->
   <link rel="stylesheet" type="text/css" href="assets/icon/themify-icons/themify-icons.css">

   <!-- iconfont -->
   <link rel="stylesheet" type="text/css" href="assets/icon/icofont/css/icofont.css">

   <!-- simple line icon -->
   <link rel="stylesheet" type="text/css" href="assets/icon/simple-line-icons/css/simple-line-icons.css">

   <!-- Required Fremwork -->
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css">

   <!-- Style.css -->
   <link rel="stylesheet" type="text/css" href="assets/css/main.css">

   <!-- Responsive.css-->
   <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">


</head>
<style>
    #rowbtn1:hover{
        background-color: #E3FAD4;
    }
</style>
<body class="sidebar-mini fixed">
   <div class="wrapper">
      <div class="loader-bg">
         <div class="loader-bar">
         </div>
      </div>
      <!-- Navbar-->
       <header th:replace="fragments/header :: header"></header>
       <!-- Side-Nav-->
       <aside th:replace="fragments/sideNav :: sideNav"></aside>

       <!-- Sidebar chat start -->
       <div th:replace="fragments/sideChat :: sideChat"></div>
      <!-- Sidebar chat end-->
      <div class="content-wrapper">
         <!-- Container-fluid starts -->
         <div class="container-fluid">
            <!-- Row Starts -->
            <div class="row">
               <div class="col-sm-12 p-0">
                  <div class="main-header">
                     <h4 style="font-weight:bold;">진짜•가짜 판별</h4>
                     <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="/1">
                           <i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">솔루션</a>
                        </li>
                        <li class="breadcrumb-item"><a href="/fake-real">진짜•가짜 판별</a>
                        </li>
                     </ol>
                  </div>
               </div>
            </div>
            <!-- Row end -->

            <!-- TrueFalse start -->

            <!-- Row start -->
            <div class="row">
               <div class="col-sm-12">
                  <div class="card">
<!--                     <div class="card-header">-->
<!--                        <h5 class="card-header-text">Headings</h5>-->
<!--                        <p class="text-muted">-->
<!--                           All HTML headings, <code class="highlighter-rouge">&lt;h1&gt;</code> through-->
<!--                           <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.-->
<!--                        </p>-->
<!--                        <div class="clearfix"></div>-->
<!--                     </div>-->
                     <form action="/fake-real-re" method="GET">
                     <div class="card-block" style="margin-right:auto; margin-left:auto;">
                        <h1>Fake vs Real</h1>
                        <p class="text-dark m-b-20" style="font-size:18px; margin-top:30px;">*수많은 팔로워를 보유하고 있는 인플루언서들. 그 팔로워들이 진짜 사람들인지 의심해 보신 적 없으신가요? 진짜 팔로워와 가짜 팔로워의 농도를 판별해드립니다!</p>
                        <p class="text-dark m-b-20" style="font-size:18px; margin-top:16px;">*검색창에 찾고 싶은 인플루언서의 계정명을 입력하세요.</p>

                        <div class="clearfix"></div>
                        <div style="margin-top:5%; margin-bottom:3%;" align="center">
<!--                           border-bottom: 2px solid #adadad;-->
<!--                           margin: 30px;-->
                           <!-- GET 방식으로 보낼 것 start -->

                           <input type="text" name="username" size=30 style="margin-left:5px; padding:5px 5px;" autocomplete="off" placeholder="인플루언서 계정을 입력하세요">
                           <button style="margin-left:3px; margin-bottom:2px; height: 27pt;" class="btn btn-success waves-effect waves-light ">검색</button>

                           <!-- GET 방식으로 보낼 것 end -->
                        </div>

                     </div>
                     </form>
                  </div>
               </div>
            </div>
            <!-- Row end -->

            <!-- Row start -->
            <div class="row">
               <div class="col-sm-12">
                  <!-- Hover effect table starts -->
                  <div class="card">
                     <div class="card-header">
                        <h5 class="card-header-text">Fake vs Real</h5>
<!--                        <p>Add <code>.table-hover</code> Class in table tag</p>-->
                     </div>
                     <div class="card-block">
                        <div class="row">
                           <div class="col-sm-12 table-responsive">

                              <table th:each="index : ${inf_profile}" id="rowbtn1" width="70%" align="center" style="margin-left:auto;
                                                                                                                    margin-right:auto;
                                                                                                                    margin-top:3px;
                                                                                                                    margin-bottom:2px;
                                                                                                                    border-bottom: 2px solid #eceeef;" >
<!--                                     <thead>-->

                                     <tr >
                                        <td rowspan="3" width="20%" style="text-align:right;padding:10px;"><p><img th:src="|pics/${index.inf_username}.jpg|" style="width:150px; height:150px; object-filter:cover;
                                                                                        border: 3px solid gold;
                                                                                        border-radius: 7px;
                                                                                        -moz-border-radius: 160px;
                                                                                        -khtml-border-radius: 160px;
                                                                                        -webkit-border-radius: 160px;
                                                                                        cursor:pointer;"
                                                                                        th:onclick="window.open('https://www.instagram.com/'+[[${index.inf_username}]])"
                                                                                        data-toggle="tooltip" data-placement="top" title data-original-title="인스타그램으로 이동" ></p></td> <!-- 프사(3행 병합) -->
                                        <td colspan="2" style="text-align:left; vertical-align:bottom;">계정명</td>
                                        <td rowspan="2" width="20%" style="text-align:center; vertical-align:bottom;"><p><img src="assets/images/people.png" style="width:100px; height:60px;"></p></td>
                                        <td width="25%" style="text-align:left; vertical-align:bottom;">진짜 팔로워</td>
                                     </tr>
    <!--                                 </thead>-->
    <!--                                 <tbody>-->
                                     <tr>
                                        <td colspan="2" style="text-align:left; vertical-align:top; padding:0px 0px 0px 10px;"><span th:text="${index.inf_username}" style="font-size:2.0em; color:green;"></span></td> <!-- 계정명 4열 병합 -->
<!--                                        <td style="text-align:center;"><span></span></td>-->
                                        <td colspan="3" style="text-align:left; vertical-align:top; padding:0px 0px 0px 10px;"><span th:text="${index.real_fol_count}" style="font-size:1.6em;padding:5px;"></span><span>명</span></td>
                                     </tr>
                                     <tr>
                                        <td width="18%" style="text-align:left; vertical-align:top; padding:11px 0px 0px 5px;"><span style="padding:0px 0px 0px 7px;">팔로워</span><span th:text="${index.fol_count}" style="font-size:1.6em;padding:10px;"></span></td>
                                        <td width="20%" style="text-align:left; vertical-align:top; padding:11px 0px 0px 5px;"><span style="padding:0px 0px 0px 7px;">팔로잉</span><span th:text="${index.folwing_count}" style="font-size:1.6em;padding:10px;"></span></td>
                                        <td style="text-align:left; vertical-align:top; padding:11px 0px 10px 10px;"><span style="padding:10px;">전체</span><span th:text="${index.fol_count}" style="font-size:1.6em;padding:10px;"></span><span>명 중</span></td>
                                        <td style="text-align:left; vertical-align:top; padding:0px 0px 10px 10px;"><strong><span th:text="${index.real_fol_count}" style="font-size:2.3em; color:deeppink; padding:0px 5px 0px 0px;"></span></strong><span>명이 진짜입니다.</span></td>
                                     </tr>

    <!--                                 </tbody>-->
                              </table>

                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Hover effect table ends -->
               </div>
            </div>
            <!-- Row end -->
         </div>
          <!-- Container-fluid ends -->
      </div>
   </div>


   <!-- Warning Section Starts -->
   <!-- Older IE warning message -->
   <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
   <!-- Warning Section Ends -->

   <!-- Required Jqurey -->
   <script src="assets/plugins/jquery/dist/jquery.min.js"></script>
   <script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
   <script src="assets/plugins/tether/dist/js/tether.min.js"></script>

   <!-- Required Fremwork -->
   <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

   <!-- waves effects.js -->
   <script src="assets/plugins/Waves/waves.min.js"></script>

   <!-- Scrollbar JS-->
   <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
   <script src="assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

   <!--classic JS-->
   <script src="assets/plugins/classie/classie.js"></script>

   <!-- notification -->
   <script src="assets/plugins/notification/js/bootstrap-growl.min.js"></script>

   <!-- custom js -->
   <script type="text/javascript" src="assets/js/main.min.js"></script>
   <script src="assets/pages/typicon.js"></script>
   <script type="text/javascript" src="assets/pages/elements.js"></script>
   <script type="text/javascript" src="assets/js/menu.min.js"></script>
</div>
</body>

</html>
