<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
   <title>Hashtag Search</title>

   <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   <!-- Meta -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="description" content="codedthemes">
   <meta name="keywords" content="Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
   <meta name="author" content="codedthemes">

   <!-- Favicon icon -->
   <link rel="shortcut icon" href="/assets/images/favicon_mic.png" type="image/x-icon">
   <link rel="icon" href="/assets/images/favicon_mic.ico" type="image/x-icon">

   <!-- Google font-->
   <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <!-- themify -->
   <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">

   <!-- iconfont -->
   <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">

   <!-- simple line icon -->
   <link rel="stylesheet" type="text/css" href="/assets/icon/simple-line-icons/css/simple-line-icons.css">

   <!-- Required Fremwork -->
   <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

   <!-- Style.css -->
   <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

   <!-- Responsive.css-->
   <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
    #remoCon:hover{
        transition: transform 0.2s linear;
        transform: scale(1.3);
    }
    #MOVE_TOP_BTN {
        position: fixed;
        right: 5%;
        bottom: 50px;
        display: none;
        z-index: 999;
        font-weight: bold;
    }

        /* 로딩 */
    #wrap-loading { /*화면 전체를 어둡게 합니다.*/
        position: fixed;
        left: 0;
        right: 0;
        top: 100;
        bottom: 0;
        /*display: none;*/
        background: rgba(0,0,0,0.2); /*not in ie */
        filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000'); /* ie */
    }
    .loading { /*로딩 이미지*/
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -21px;
        margin-top: -21px;
    }
</style>
<body class="sidebar-mini fixed">
<script>
    $(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 500) {
                $('#MOVE_TOP_BTN').fadeIn();
            } else {
                $('#MOVE_TOP_BTN').fadeOut();
            }
        });

        $("#MOVE_TOP_BTN").click(function() {
            $('html, body').animate({
                scrollTop : 0
            }, 400);
            return false;
        });
    });

    window.onload = function(){
        setTimeout(function() {
          $('#wrap-loading').hide();
        }, 500);

    }
</script>
   <div class="wrapper">
      <div class="loader-bg">
         <div class="loader-bar">
         </div>
      </div>
      <!-- Navbar-->
       <header th:replace="fragments/header :: header"></header>
       <!-- Side-Nav-->
       <aside th:replace="fragments/sideNav :: sideNav"></aside>

       <!-- Sidebar chat start -->
       <div th:replace="fragments/sideChat :: sideChat"></div>
      <!-- Sidebar chat end-->
      <div class="content-wrapper">
         <!-- Container-fluid starts -->
         <div class="container-fluid">
            <!-- Row Starts -->
            <div class="row">
               <div class="col-sm-12 p-0">
                  <div class="main-header">
                     <h4 style="font-weight:bold;">해시태그 검색</h4>
                     <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="/">
                           <i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">솔루션</a>
                        </li>
                        <li class="breadcrumb-item"><a href="/search-hash">해시태그 검색</a>
                        </li>
                     </ol>
                  </div>
               </div>
            </div>
            <!-- Row end -->



             <!-- Scroll Remote Controller -->
             <a id="MOVE_TOP_BTN" href="#">
                 <!--                 <i class="icon icon-arrow-up"></i>-->
                 <img src="/assets/images/topAutoScroll.png" id="remoCon" style="margin-bottom: 24px;width: 50px;">
             </a>
             <!-- Scroll Controller end  -->


            <!-- Row start -->
            <div class="row">
               <div class="col-sm-12">
                  <div class="card">
<!--                     <div class="card-header">-->
<!--                        <h5 class="card-header-text">Headings</h5>-->
<!--                        <p class="text-muted">-->
<!--                           All HTML headings, <code class="highlighter-rouge">&lt;h1&gt;</code> through-->
<!--                           <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.-->
<!--                        </p>-->
<!--                        <div class="clearfix"></div>-->
<!--                     </div>-->
                     <form action="/search-hash/results" method="GET">
                     <div class="card-block" style="margin-right:auto; margin-left:auto; padding:20px 50px 20px 50px;">

                         <!-- modal -->
                         <div class="f-right">
                             <a href="" data-toggle="modal" data-target="#raised-Modal">
                                 <i class="icofont icofont-question"  style="font-size:20px;"></i>
                             </a>
                         </div>
                         <!-- modal -->

                        <h1 align="center" style="margin-top:30px;">Hashtag Search</h1>
                        <p class="text-dark m-b-20" align="center" style="font-size:18px; margin-top:30px;">인기 게시물 공략을 위한</p>
                        <p class="text-dark m-b-20" align="center" style="font-size:18px; margin-top:16px;">해시태그를 확인하세요</p>

                        <div class="clearfix"></div>
                        <div style="margin-top:2%; margin-bottom:3%;" align="center">
<!--                           border-bottom: 2px solid #adadad;-->
<!--                           margin: 30px;-->
                           <!-- GET 방식으로 보낼 것 start -->
                           <input type="text" name="keyword" size=30 style="margin-left:5px; padding:5px 5px;" autocomplete="off" placeholder="해시태그를 입력하세요">
                           <button style="margin-left:3px; margin-bottom:2px; height: 27pt;" class="btn btn-warning waves-effect waves-light ">검색</button>
                           <!-- GET 방식으로 보낼 것 end -->

                            <!-- start modal -->
                            <div class="modal fade modal-flex" id="raised-Modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h5 class="modal-title">잠재고객 노출에 유리한 해시태그 이용 전략</h5>
                                        </div>
                                        <!-- end of modal-header -->
                                        <div class="modal-body" align="justify" style="padding:40px;">
                                            <!--                                    <pre class="brush: html;">-->
                                            <p style="font-size:1.2em; line-height:2em;">
<!--                                                style="display: flex; justify-content: space-between; align-items: center;"-->
                                                &nbsp;&nbsp;&nbsp;
                                                특정 해시태그와 관련된 다양한 정보들을 알려드립니다. 어떤 해시태그를 함께 쓰는지, 검색량이 얼마나 되는지,
                                                해당 해시태그의 성장성은 어떤지, 유행이 지난 해시태그는 아닌지 등의 인사이트를 통해 유용한 해시태그를 발굴하세요.
                                                데이터 분석을 통해 피드나 통계로는 확인이 어려운 가짜 팔로워를 걸러내고, 실제 활동중이며 마케팅에  유의미한 팔로우 유저들을 알려드립니다.
                                                <br><br>
                                            </p>
                                            <hr>
                                            <p style="font-size:1.1em;" >
                                                <br>
                                                * 검색하고 싶은 해시태그를 입력하세요.<br><br>
                                                * <strong>연관 해시태그 5개</strong>와 인기 게시물의 <strong>평균 좋아요 수</strong>, <strong>가장 관련이 높은 인플루언서</strong>의 정보를 제공합니다.<br><br>
                                                * 프로필 사진을 클릭하면 해당 인플루언서의 <strong>인스타그램 페이지</strong>로 이동합니다.<br><br>
                                            </p>
                                            <!--                                    </pre>-->
                                        </div>
                                        <!-- end of modal-body -->
                                    </div>
                                    <!-- end of modal-content -->
                                </div>
                                <!-- end of modal-dialog -->
                            </div>
                            <!-- end of modal -->

                        </div>

                     </div>
                     </form>
                  </div>
               </div>
            </div>
            <!-- Row end -->

            <!-- Row start -->
            <div class="row">
               <div class="col-sm-12">
                  <!-- Hover effect table starts -->
                   <div class="card">
                       <div class="card-header">
                           <h5 class="card-header-text">Hashtag Search</h5>
                       </div>
                       <div class="card-block">
                           <div class="row">
                               <div class="col-sm-12 table-responsive">


                                   <div id="wrap-loading">
                                       <!-- 로딩중 start -->
                                       <img src="/assets/images/DoubleRing-1s-200px.gif" class="loading" style="width:50px;">
                                       <!-- 로딩중 end -->
                                   </div>


                                   <table align="center" width="70%" style="text-align:center;">
                                       <thead>
                                       <tr style="border-bottom: 2px solid #eceeef;">
                                           <th width="15%" style="text-align:center;">해시태그</th>
                                           <th width="15%" style="text-align:center;">연관 해시태그</th>
                                           <th width="20%" style="text-align:center;">인기 게시물 평균 좋아요</th>
                                           <th width="20%" colspan="2" style="text-align:center;">연관 인플루언서</th>
                                       </tr>
                                       </thead>
                                       <tbody>
                                       <tr th:each="hashtag : ${hashtags}" id="rowbtn2" style="border-top: 1px solid #eceeef;" ><!-- $는 Model 안에서 꺼내 쓰는 것. th:each는 반복문(타임리프 문법임) -->
                                           <td style="vertical-align:middle;"><span th:text="${hashtag.keyword}"></span></td>
                                           <td style="vertical-align:middle;"><span th:text="${hashtag.related_hash}"></span></td>
                                           <td style="vertical-align:middle;"><span th:text="${hashtag.avg_liked}"></span></td>
                                           <td style="text-align:right; padding:10px;"><p><img th:src="|/pics/${hashtag.related_username}.jpg|" style="width:50px; height:50px; object-filter:cover;
                                                                                        border: 2.5px solid palegreen;
                                                                                        border-radius: 7px;
                                                                                        -moz-border-radius: 160px;
                                                                                        -khtml-border-radius: 160px;
                                                                                        -webkit-border-radius: 160px;
                                                                                        cursor:pointer;"
                                                                                        th:onclick="window.open('https://www.instagram.com/'+[[${hashtag.related_username}]])"
                                                                                        data-toggle="tooltip" data-placement="left" title data-original-title="인스타그램으로 이동"></p></td>
                                           <td style="vertical-align:middle; text-align:left; padding:10px;"><span th:text="${hashtag.related_username}"></span></td>
                                       </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                       </div>
                   </div>
                   <!-- Hover effect table ends -->
               </div>
            </div>
            <!-- Row end -->



         </div>
         <!-- Container-fluid ends -->


      </div>

       <footer th:replace="fragments/footer :: footer"></footer>
   </div>



   <!-- Warning Section Starts -->
   <!-- Older IE warning message -->
   <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="/assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="/assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="/assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="/assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="/assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
   <!-- Warning Section Ends -->

   <!-- Required Jqurey -->
   <script src="/assets/plugins/jquery/dist/jquery.min.js"></script>
   <script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
   <script src="/assets/plugins/tether/dist/js/tether.min.js"></script>

   <!-- Required Fremwork -->
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

   <!-- waves effects.js -->
   <script src="/assets/plugins/Waves/waves.min.js"></script>

   <!-- Scrollbar JS-->
   <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
   <script src="/assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

   <!--classic JS-->
   <script src="/assets/plugins/classie/classie.js"></script>

   <!-- notification -->
   <script src="/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

   <!-- custom js -->
   <script type="text/javascript" src="/assets/js/main.min.js"></script>
   <script src="/assets/pages/typicon.js"></script>
   <script type="text/javascript" src="/assets/pages/elements.js"></script>
   <script type="text/javascript" src="/assets/js/menu.min.js"></script>

</body>

</html>
